@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

:root{
  --yes: rgb(27, 216, 27);
  --no: blue;
  --date: red;
}
body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: 'Maven pro';

}
#backbtn
{
  border: none;
  border-radius: 50px;
  background-image:linear-gradient(to right, #FFB330,#f7fa65);
  margin-right: 500px;
  width: 100px;
  height: 30px;
  font-family: 'Maven pro';
  font-size: 1.3em;

}
.task h1{
  text-align: center;
}
.container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container #timetrack
{
  font-size: 1.5em;
  margin-bottom: 10px;
  color : var(--date);
}
.container #completet
{
  font-size: 1.5em;
  margin-bottom: 10px;
  color : var(--date);
}
.routine_track h2{
  text-align: center;
}
.form h2{
  text-align: center;
}
/*.container #timetrack
{
    color : var(--date);
}*/



.task-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow : 1px 1px 3px rgba(0,0,0,0.5);
}

.time_yadd
{
  border-right: 1px solid #dedede ;
    text-align: center;
  padding: 20px;
}
.time_nadd
{
  text-align: center;
  padding: 20px;
}
#time_yadd
{
  font-size: 1.3em;
  color: var(--yes);
}
#time_nadd 
{
  font-size: 1.3em;
  color: var(--no);
}
#Routine
{
  list-style: none;
  margin: 0;
  padding: 0;
}
#Routine li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding : 15px;
  margin-bottom: 12px;
  box-shadow : 1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
}
#Routine li .date{
  justify-content: space-evenly;
  color: var(--date);
  margin-right: 10px;
}

#Routine li .time_taken_y{
    display: inline-block;
    color: var(--yes);
    /*color: #000;*/
    padding:5px;
    border-radius: 3px;
    margin-right: 10px;
}
#Routine li .time_taken_n{
  display: inline-block;
  color: var(--no);
  padding:5px;
  border-radius: 3px;
  margin-right: 10px;
}
#Routine li .date{
  display: inline-block;
  color: var(--date);
  padding:5px;
  border-radius: 3px;
  margin-right: 6px;
}
#Routine li .completeall{
  display: inline-block;
  color: orange;
  text-decoration:line-through;
  padding:5px;
  border-radius: 3px;
  margin-right: 6px;
}
#Routine li button{
  padding: 2px 5px;

}
.form form{
  display: flex;
  flex-direction: column;
}
.form form label{
  padding-bottom: 10px;
  font-size: 1.2em;
}
.form form input
{
  height: 25px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.form form button{
  border: none;
  padding : 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
}
#time_ytakenbtn
{
  border :1px solid seagreen;
  background-image: linear-gradient(to bottom right, #70e296, rgb(27, 196, 27));
  /*box-shadow: 4px 4px 6px 0 rgba(10, 6, 51, 0.2),
             -4px -4px 6px 0 #dedede,
    inset   -4px -4px 6px 0 rgba(10, 6, 51,0.35),
    inset   4px 4px 6px 0 #c0e2df;*/
  border-radius: 50px;
  text-transform: capitalize;
  font-family: 'Maven pro';
}
#time_ntakenbtn
{
  border: 1px solid slateblue;
  background-image: linear-gradient(to bottom right,#96CAF7,blue);
  border-radius: 50px;
  text-transform: capitalize;
  font-family: 'Maven pro';

}
