@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

:root{
  --yes: rgb(27, 216, 27);
  --no: #1F51FF;
  --date: red;
}
body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Maven pro';
  background: #131419;
  color: #c7c7c7;
}
#backbtn
{
  border: none;
  margin-right: 500px;
  width: 100px;
  height: 30px;
  font-family: 'Maven pro';
  font-size: 1.3em;
  background-color: #131419;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  color: #c7c7c7;
}
#backbtn:focus
{
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.task h1{
  text-align: center;
}
.container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.container #timetrack
{
  font-size: 1.5em;
  margin-bottom: 10px;
  
}
.container #completet
{
  font-size: 1.5em;
  margin-bottom: 10px;
  color : var(--date);
}
.routine_track h2,
.routinesort_track h2{
  text-align: center;
}
.form h2{
  text-align: center;
}
/*.container #timetrack
{
    color : var(--date);
}*/



.task-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.time_yadd
{
  height: 150px;
  margin: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.time_nadd
{
  height: 150px;
  text-align: center;
  padding: 15px;
  margin:10px;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
#time_yadd
{
  font-size: 1.3em;
  color: var(--yes);
}
#time_nadd 
{
  font-size: 1.3em;
  color: var(--no);
}
#Routine,
#Routinesort
{
  list-style: none;
  margin: 0;
  padding: 0;
}
#Routine li,
#Routinesort li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding : 15px;
  margin-bottom: 12px;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
#Routine li .date,
#Routinesort li .date{
  justify-content: space-evenly;
  color: var(--date);
  margin-right: 10px;
}

#Routine li .time_taken_y,
#Routinesort li .time_taken_y{
    display: inline-block;
    color: var(--yes);
    /*color: #000;*/
    padding:5px;
    border-radius: 3px;
    margin-right: 10px;
}
#Routine li .time_taken_n,
#Routinesort li .time_taken_n{
  display: inline-block;
  color: var(--no);
  padding:5px;
  border-radius: 3px;
  margin-right: 10px;
}
#Routine li .date,
#Routinesort li .date{
  display: inline-block;
  color: var(--date);
  padding:5px;
  border-radius: 3px;
  margin-right: 6px;
}
#Routine li .completeall{
  display: inline-block;
  color: red;
  text-decoration:line-through;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  padding:5px;
  border-radius: 3px;
  margin-right: 6px;
}
#Routine li button,
#Routinesort li button{
  padding: 3px 5px;
  margin: 2px;
}
.form form{
  display: flex;
  flex-direction: column;
  background-color: #131419;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  color: #c7c7c7;
}
.form form label{
  padding-bottom: 10px;
  font-size: 1.2em;
  margin: 10px;
}
.form form input
{
  height: 30px;
  margin-bottom: 10px;
  font-size: 1.2em;
  margin: 10px;
  background-color: #131419;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: inset -5px -5px 6px rgba(255,255,255,0.1),
              inset 5px 5px 6px rgba(0,0,0,0.8);
  border-radius: 10px;
}
.form form input:focus
{
  box-shadow: -5px -5px 6px rgba(255,255,255,0.1),
              5px 5px 6px rgba(0,0,0,0.8);
  border-radius: 10px;
}
.form form button{
  align-items: center;
  border: none;
  outline: none;
  padding : 10px;
  font-size: 1.3em;
  margin: 10px;
  background-color: #131419;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
              5px 5px 15px rgba(0,0,0,0.8);
  border-radius: 10px;
  color: #c7c7c7;
}
.form form button:focus {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1),
              inset  5px 5px 15px rgba(0,0,0,0.8);
  border-radius: 10px;
  color: #c7c7c7;
}
#time_ytakenbtn
{
  
  border-radius: 50px;
  text-transform: capitalize;
  font-family: 'Maven pro';
  color: var(--yes);
}
#time_ntakenbtn
{
  border-radius: 50px;
  text-transform: capitalize;
  font-family: 'Maven pro';
  color: var(--no);

}
