@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');



:root{
  --income: rgb(27, 216, 27);
  --savings: #1F51FF;
  --expenses: red;
}
body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Maven pro';
  background: #131419;
  color: #c7c7c7;
}
#backbtn
{
  border: none;
  margin-right: 500px;
  width: 100px;
  height: 30px;
  font-family: 'Maven pro';
  font-size: 1.3em;
  background-color: #131419;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  color: #c7c7c7;
}
#backbtn:focus
{
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.income h2,
.Transactionsort_income h2{
  text-align: center;
  padding-bottom: 10px;
}

.container #balance
{
  font-size: 1.5em;
  margin-bottom: 10px;
}
.container #payments
{
  font-size: 1.5em;
  margin-bottom: 10px;
  justify-content: left;
}

.cash-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  
  }

.income_add
{
  margin: 10px;
  padding: 20px;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.savings
{
  margin: 10px;
  padding:20px;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.expenses_sub
{
  margin: 10px;
  padding: 20px;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.payment_sub
{
  margin: 10px;
  padding: 20px;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}

#income_add
{
  font-size: 1.3em;
  color: var(--income);
}
#savings 
{
  font-size: 1.3em;
  color: var(--savings);
}
#expenses_sub
{
  font-size: 1.3em;
  color: var(--expenses);
}
#payments
{
  font-size: 1.3em;
  color: var(--expenses);
}
#transaction, #transactionsort
{
  list-style: none;
  margin: 0;
  padding: 0;
}
#transaction li,
#transactionsort li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding : 15px;
  margin-bottom: 12px;
  box-shadow: inset -5px -5px 10px rgba(255,255,255,0.05),
              inset 5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
}
#transaction li .income_amnt,
#transactionsort li .income_amnt{
    display: inline-block;
    color: var(--income);
    padding:5px;
    border-radius: 3px;
    margin-right: 6px;
}
#transaction li .expense_amnt,
#transactionsort li .expense_amnt{
  display: inline-block;
  color: var(--expenses);
  padding:5px;
  border-radius: 3px;
  margin-right: 6px;
}
#transaction li .quantity,
#transactionsort li .quantity
{
  display: inline-block;
  color: #c7c7c7;
  padding:5px;
  border-radius: 3px;
  margin-right: 10px;
}
#transaction li .payment_sub,
#transactionsort li .payment_sub{
  display: inline-block;
  color: red;
  text-decoration: line-through;
  padding:5px;
  border-radius: 3px;
  margin: 5px;
  
}
#transaction li .savings_amnt,
#transactionsort li .savings_amnt{
  display: inline-block;
  color: var(--savings);
  padding:5px;
  border-radius: 3px;
  margin-right: 6px;
}
#transaction li button,
#transactionsort li button
{
  padding: 2px 5px;
  margin: 2px;
  
}

.form form{
  display: flex;
  flex-direction: column;
  background-color: #131419;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;
  color: #c7c7c7;
  }
.form form label{
  padding-bottom: 10px;
  font-size: 1.2em;
  margin: 10px;
  }
.form form input
{
  height: 25px;
  font-size: 1.2em;
  padding:5px;
  margin: 10px;
  background-color: #131419;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: inset -5px -5px 6px rgba(255,255,255,0.1),
              inset 5px 5px 6px rgba(0,0,0,0.8);
  border-radius: 10px;
  }
  .form form input:focus
{
  box-shadow: -5px -5px 6px rgba(255,255,255,0.1),
              5px 5px 6px rgba(0,0,0,0.8);
  border-radius: 10px;
}
.form form button{
  border: none;
  padding : 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
  margin: 10px;
  background-color: #131419;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
              5px 5px 15px rgba(0,0,0,0.5);
  border-radius: 10px;

  }
  .form form button:focus {
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1),
                inset  5px 5px 15px rgba(0,0,0,0.8);
    border-radius: 10px;
    color: #c7c7c7;
  }
#incomebtn
{
   border-radius: 50px;
  font-family: 'Maven pro';
  color: var(--income);
  
}

#expensebtn
{
  border-radius: 50px;
  font-family: 'Maven pro';
  color: red;
}
#savingsbtn
{
  border-radius: 50px;
  font-family: 'Maven pro';
  color: #1F51FF;
}
